.nav-sidebar .nav-item .nav-link{
    padding: 10px !important;
}


.table-report tr{
   padding: 10px;
   margin: 10px;
   
}


.active{
    background-color: rgb(0, 255, 106, 0.5) !important;
    color: white !important;
}